
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{
    background-color: #fff;

    
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/cap4/img/ex4_5.png);
    background-size: cover;
    background-repeat: no-repeat;
   
}




.formContainer{
    width: calc(100% - 20px);
    max-width: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 15px;
    background-image: url(/cap4/img/ex4_5-textura.png);
    background-size: cover;
    overflow: hidden;
    z-index: 10;
   
    
}



.header img {

    width: 100%;
    height: 70px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    
    position: absolute;
    margin: 10px auto;
    color: #fff;

    
}

.inAccount{
    
    font-weight: 600;
    align-self: center;

}

.inAccount p{
    margin: 10px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.7rem;
    
}


.inAccount input{
    width: 100%;
    border: solid 3px #9f0723;
    height: 25px;;
    border-radius: 15px;
    padding: 12px;
    font-size: 1.3rem;
    

}




.btRegister{
    display: block ;
    width: 60%;
   background-color: #9f0723;
   color: #fff;
   font-size: 1.3rem;
   font-weight: 600;
   border-radius: 30px;
   border: solid #9f0723;;
   cursor: pointer;
   margin: 0 auto;
   padding: 4px;
   opacity: 0.9;
   
  
}

.btRegister2{
    display: none;
}


.allOut pre{
    
    font-size: 1.3rem;
    font-weight: 700;
    margin: 10px;
    padding: 5px;
   
}



@media screen and (max-width:478px){

    .btRegister{
    display: block ;
    width: 50%;
    background-color: #9f0723;
   color: #fff;
   font-size: 1.1rem;
   font-weight: 500;
   border-radius: 30px;
   border: solid #9f0723;;
;   cursor: pointer;
   margin: 0 auto;
   padding: 2px;
   opacity: 0.9;
    }




    .btRegister2{
        display: block;
        width: 50%;
        background-color: #9f0723;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        border-radius: 30px;
        border: solid #9f0723;;
        cursor: pointer;
        margin: 0 auto;
        padding: 2px;
        opacity: 0.9;

    }

    .btRegister{
        display: none;
    }


    .allOut{
        margin: 7px;
        display: flex;
        justify-content: center;
        color: #1b1304;
        font-size: 1.0em;
        
    }


    .formContainer{
        gap:10px;
    }

}